html, body {
  height: 100%;
  margin: 0;
  background-color: black;
}
#root {
  min-height: 100vh; /* Ensures full viewport height */
  background-color: black; /* Double coverage */
}


.App{
  display: grid;
  grid-template-areas: none
  "app-nav"
  "app-main"
  "app-footer";
  grid-template-columns: 1fr;
}

.app-nav {
  grid-area: app-nav;
}
.app-main {
  grid-area: app-main;
}
.app-footer {
  grid-area: app-footer;
}

.pageContainer{
  padding: 20px;
  background: linear-gradient(to bottom, #008787, #0f894e);
  border-radius: 10px;
  max-width: 90%;
  margin: 20px auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

button {
  background: linear-gradient(to left, #01c1c1, #344c60);
  color: white;
  border: white 2px solid;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background: #01c1c1;
}