#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App{
  display: grid;
  grid-template-areas: none
  "app-nav"
  "app-main"
  "app-footer";
  grid-template-columns: 1fr;
}

.app-nav {
  grid-area: app-nav;
}
.app-main {
  grid-area: app-main;
}
.app-footer {
  grid-area: app-footer;
}