#root {
  max-width: 1500px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App{
  display: grid;
  grid-template-areas: none
  "app-nav"
  "app-main"
  "app-footer";
  grid-template-columns: 1fr;
}

.app-nav {
  grid-area: app-nav;
}
.app-main {
  grid-area: app-main;
}
.app-footer {
  grid-area: app-footer;
}

.pageContainer{
  padding: 20px;
  background-color: #ff9090;
  border-radius: 10px;
  max-width: fit-content;
  margin: 20px auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}